body,html{
    
    margin: 0;
    box-sizing: border-box;
    height: 100%;
    font-family: 'lato',sans-serif;
    width: 100%;
    overflow-x: hidden;

   
  
   
}
.bg{
    
    background-image: url("img5.jpg");
    height: 100%; 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


nav{
   
    padding: 0 80px;
    display: flex;
    align-items: baseline;
    
}
nav h1{
    display: inline-block;
    padding-left: 30px;
    font-weight: 500;
    letter-spacing: 5px;
    font-size: 30px;
    color:rgb(98, 243, 229);
    cursor: pointer;
    
}
nav h1:hover{
    color:gold;
    font-weight: 900;
    transition: 1s;
    
}
nav ul{
    display: inline-block;
    margin: 0 50px;
    

}
.nav-item{
    
    margin-left: auto;
}
nav ul li{
    
    font-size: 20px;
    list-style: none;
    display: inline-block;
    padding:42px 15px 2px 15px;
    margin: 0 8px;
    text-align: center;
    color: white;
    letter-spacing: 5px;
    cursor: pointer;
}
nav ul li:hover:nth-child(odd){
  background-color: white;
  color: rgb(2, 26, 26);
  padding:10px 20px ;
  font-weight: 700;
  
  transition: .5s;
  transform-origin: right;

}
.active{
    background-color: rgb(60, 151, 142);
    color: white;
    font-weight: bold;
}
.social{
    display: inline-block;
    width: 30px;
    background-color:#81c9db ;
    padding: 40px 3px 3px 3px;
    color:white;
    margin: 0 5px;
}
.social i{
    position:relative;
    display: flex;
    justify-content: center;
    font-size: 20px;
    cursor: pointer;
}
.social i:hover{
    color:#083034 ;
}
.overlay{
    position: absolute;
    display: flex;
    flex-direction: rows;
    left: 90px;
    top: 25%;
    z-index: 1;
}
.box-1{
    width: 180px;
    height: 400px;
    background: url(img1.jpg);
    background-size:cover;
    background-position:-1100px;
    margin: 0 10px;
    
}
.box-2{
    width: 180px;
    height: 400px;
    background: url(img2.jpg);
    background-size: cover;
    background-position: -920px;
    margin: 0 10px;
    transform: translateY(-80px);
}
.box-3{
    width: 180px;
    height: 400px;
    background: url(img3.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 10px;
}
.box-4{
    width: 180px;
    height: 400px;
    background: url(img4.jpg);
    background-size: cover;
    background-position: center;
    margin: 0 10px;
    transform: translateY(-80px);
}
main{
    width: 63%;
    float: right;
    position: relative;
    z-index: 5;
    top: 30%;

}
main h1{
    font-size: 190px;
    letter-spacing: 20px;
    font-family: 'Bebas Neue',sans-serif;
    transform: translateY(-30px);
    padding-left: 1px;
    color: #08303a;
    line-height: 50px;
    margin: 0;

}
main h1 span{
    color: white;
}
main h5{
    position: relative;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 300;
    letter-spacing: 35px;
    color: white;
    transform: translateX(43px);
    text-align: center;
   

}
main p{
    width: 50%;
    text-align: justify;
    transform: translateX(55%);
    font-weight: 400;
    color: #fff;
    padding-left: 60px;

}

main a{
    position: relative;
    width: 150px;
    font-size: 18px;
    padding-top: 10px;
    padding-left: 410px;
    text-transform: uppercase;
    transform: translateX(18px);
    display: inline-block;
    letter-spacing: 3px;
    cursor: pointer;
    text-decoration: none;
    color: black;
    font-weight: 600;
}
main a::before{
    content: '';
    position: absolute;
    top: 0;
    left: 400px;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    background-color: gold;
    z-index: -1;
    transition: all ease 0.6s;
}
main a:hover:before{
    width: 30%;
    background-color: rgba(250, 87, 87, 0.8);
    
}
main a:hover{
    color:white;
}
footer{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: flex-end;
    width: 100%;
    height: 80px;
    align-items: center;
}
/*
.fa-camera{
    position: absolute;
    left: 100px;
    bottom: 0px;
    height: 40px;
    padding:200px 10px 30px 100px ;
    font-size: 20px;
    background-color: gray;
    cursor: pointer;
}
*/
.text{
    display: flex;
    padding: 0 40px;
    background-color: #08303a;
    height: 80px;
    align-items: center;
    letter-spacing: 3px;
    color: turquoise;
}
.icons{
    margin:0 30px;
    font-size: 25px;
    color: white;
    
   
}
.icons i{
    margin-right: 40px;
    cursor: pointer;
}


/*
@media screen and (max-width:1000px){
    nav h1{
        font-size: 30px;
    }
    nav ul li{
        padding: 40px 6px 2px 6px;
        margin: 0 2px;
        letter-spacing: 2px;
    }
    .box-1{
        width: 130px;
        height: 360px;
        background-position: -1000px;
    }
    .box-2{
        width: 130px;
        height: 360px;
        background-position: -300px;
    }
    .box-3{
        width: 130px;
        height: 360px;
    }
    .box-4{
        width: 130px;
        height: 360px;
    }
    main h1{
        font-size: 100px;
        letter-spacing: 15px;
        padding-left: 190px;

    }
    main h5{
        font-size: 15px;
        letter-spacing: 15px;
        padding-left: 150px;

    }
    main p{
        padding-top: 40px;
        padding-left: 10px;
    }

}
*/